<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/"
        ><i class="material-icons"> home </i>
        incicio
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/create"
        ><i class="material-icons">add_circle</i>
      Create
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/list-tarefas"
        ><i class="material-icons"> filter_list</i>
      Lista
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
